---
---
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }}</title>
		<link rel="icon" 		  href="{{site.baseurl}}/favicon.ico"    type="image/x-icon">
		<link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico"    type="image/x-icon">
		<link rel="stylesheet"    href="https://fonts.googleapis.com/css?family=Lato:900|Work+Sans" type="text/css">
		<link rel="stylesheet"    href="{{site.baseurl}}/css/main.css"   type="text/css">
		<link rel="stylesheet"    href="{{site.baseurl}}/css/syntax.css" type="text/css">
		<link rel="stylesheet"    href="{{site.baseurl}}/css/footer.css" type="text/css">
		<script src="{{site.baseurl}}/js/google-analytics.js" type="text/javascript"></script>
		{% seo %}
	</head>

	<body style="background-color: rgb(255, 255, 255)">
	 
		<script src="{{site.baseurl}}/js/theme.min.js"></script>

		{{ content }}

		<footer>
			<div class="container">
				<p class="copyright">Copyright © 2015-2017 Matthias Moulin. All Rights Reserved.</p>
			</div>
		</footer>
		
	</body>
	
</html>
